/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 18, ../sass/mystyle.scss */
hmtl {
  font-size: 100%;
}

@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../fonts/meteocons-webfont.eot');
    src: url('../fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/meteocons-webfont.woff') format('woff'),
         url('../fonts/meteocons-webfont.ttf') format('truetype'),
         url('../fonts/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: black;
 font-family:  Verdana, Geneva, sans-serif
  color: #5a5e6b;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 24, ../sass/mystyle.scss */
body a {
  color: white;
}

/* line 29, ../sass/mystyle.scss */
.body_black {
  background-color: black;
}

/* line 32, ../sass/mystyle.scss */
.body_white {
  background-color: white;
}

/* line 36, ../sass/mystyle.scss */
.barre_menu a {
  color: white;
   margin-left: 10px;
}

/* line 39, ../sass/mystyle.scss */
.chide {
  display: none;
}

/* line 43, ../sass/mystyle.scss */
.content {
  padding: 15px;
  color: white;
}

/* line 48, ../sass/mystyle.scss */
.glyphicon-2x {
  font-size: 2.5rem;
}

.glyphicon-3x {
  font-size: 7.5rem;
}

.glyphicon-4x {
  font-size: 8rem;
}

/* line 52, ../sass/mystyle.scss */
#simple-menu {
  margin-left: 15px;
  margin-top: 6px;
}

/* line 57, ../sass/mystyle.scss */
#bartop {
  background-color: #1abc9c;
  width: 100%;
  height: 45px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

}

 /*************************
*   Couleurs des boutons
*************************/
/* line 122, ../sass/mystyle.scss */
.btn-green {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #abe6db), color-stop(100%, #1abc9c));
  background-image: -webkit-linear-gradient(top, #abe6db, #1abc9c);
  background-image: -moz-linear-gradient(top, #abe6db, #1abc9c);
  background-image: -o-linear-gradient(top, #abe6db, #1abc9c);
  background-image: linear-gradient(top, #abe6db, #1abc9c);
}

/* line 125, ../sass/mystyle.scss */
.btn-yellow {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9e7a0), color-stop(100%, #f1c40f));
  background-image: -webkit-linear-gradient(top, #f9e7a0, #f1c40f);
  background-image: -moz-linear-gradient(top, #f9e7a0, #f1c40f);
  background-image: -o-linear-gradient(top, #f9e7a0, #f1c40f);
  background-image: linear-gradient(top, #f9e7a0, #f1c40f);
}

/* line 128, ../sass/mystyle.scss */
.btn-blue {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a4dcec), color-stop(100%, #5bc0de));
  background-image: -webkit-linear-gradient(top, #a4dcec, #5bc0de);
  background-image: -moz-linear-gradient(top, #a4dcec, #5bc0de);
  background-image: -o-linear-gradient(top, #a4dcec, #5bc0de);
  background-image: linear-gradient(top, #a4dcec, #5bc0de);
}

/* line 131, ../sass/mystyle.scss */
.btn-purple {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bf9fcf), color-stop(100%, #884da7));
  background-image: -webkit-linear-gradient(top, #bf9fcf, #884da7);
  background-image: -moz-linear-gradient(top, #bf9fcf, #884da7);
  background-image: -o-linear-gradient(top, #bf9fcf, #884da7);
  background-image: linear-gradient(top, #bf9fcf, #884da7);
}

/* line 134, ../sass/mystyle.scss */
.btn-orange {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffc68d), color-stop(100%, #ff8000));
  background-image: -webkit-linear-gradient(top, #ffc68d, #ff8000);
  background-image: -moz-linear-gradient(top, #ffc68d, #ff8000);
  background-image: -o-linear-gradient(top, #ffc68d, #ff8000);
  background-image: linear-gradient(top, #ffc68d, #ff8000);
}

/*************************
 * description des modules 
 **************************/
/* line 142, ../sass/mystyle.scss */
.inter {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #000000), color-stop(100%, #777777));
  background-image: -webkit-linear-gradient(left top, #000000, #777777);
  background-image: -moz-linear-gradient(left top, #000000, #777777);
  background-image: -o-linear-gradient(left top, #000000, #777777);
  background-image: linear-gradient(left top, #000000, #777777);
  border: solid #AAA 1px;
  -webkit-box-shadow: white;
  -moz-box-shadow: white;
  box-shadow: white;
  width: 330px;
  margin-bottom: 20px;
}

/**
/*  LA meteo 
*/
/* line 240, ../sass/mystyle.scss */
.entete_meteo{
  background-color: balck;
    color: white;
}
.cadre_meteo {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #000000), color-stop(100%, #777777));
  background-image: -webkit-linear-gradient(left top, #000000, #777777);
  background-image: -moz-linear-gradient(left top, #000000, #777777);
  background-image: -o-linear-gradient(left top, #000000, #777777);
  background-image: linear-gradient(left top, #000000, #777777);
  border: solid #333 1px;
  color: DarkGray;
  padding : 10px;
}
/* line 250, ../sass/mystyle.scss */

.temp{
  font-size : 5.5rem;
  margin : 17px 0 0 0px;
  padding-left: 80px
}

.temp_2{
  font-size: 1.4rem;

}

.temp_detail{
    padding : 5px;
}

.heure{
  margin-bottom: 80px;
    font-size: 3.0rem;
}

.quelJour{
  color: red;
  font-size: 2.2rem;
}
[data-icon]:before{
  font-family: 'MeteoconsRegular';
  content: attr(data-icon);
}


.cadre_meteo li{
  list-style: none;
}

/**
 * list_modules
 */
.list_modules{
  list-style: none;
}

.smile{
  float: right;
}

.ligneMD  span:first-child{
  font-weight: bold;
  color : #1abc9c;
}

/* line 198, ../sass/mystyle.scss */
.thermo .bouttons .degre {
  font-size: 6.0rem;
  font-weight: bold;
}

.thermo .footer{
  padding-right: 10px;
}

.bandeau  span:first-child{
  padding-left: 20px;
}
